@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300|Raleway+Dots|Lato:300|Inconsolata|Montserrat);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: -apple-system, sans-serif;
}


body{
    background: black;
    /*   position: relative;*/
    height: 100vh;
    width: 100%;

}

section{
    max-height: 100vh;
    padding: 8rem 9% 1rem;
}

.header{
    position: fixed;
    width: 100%;
    height: 65px;
    top: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    background: linear-gradient( 30deg ,#737373,#000000 );
    /*  background: linear-gradient( 100deg ,#057244,#000000 );*/
    backdrop-filter: blur(10px);
    transition:  all 0.5s ease;


}

.logo{
    font-size: 2rem;
    color: black;
    font-weight: 1000;
    transition: 0.3s ease;
    font-family: "Caveat", cursive;
}

.logo>span{
    color: darkgreen;
    font-family: "Caveat", cursive;
}

.logo:hover{
    transform: scale(1.05);
}

.navbar a{
    font-size: 1rem;
    color: white;
    letter-spacing: 0.05rem;
    /*   word-spacing: 50px;*/
    margin: 0px 20px;
    font-weight: 600;
}

.navbar a:hover{
    color: #07F18F; /*nav eke menu eka touch krnakota green wenawa*/
    transition: .3s;
}

#menu-icon{
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    display: none;
}
/*================================================================*/


/* General Styles */
/*
.contactContainer{
    background: black;
}*/
/*
body {
    background: #000000;
    height: 100vh;

}
*/


/* Contact Form Styles */
h1 {
    margin: 10px 0 0 0;
    color: #07F18F;
}
h4{
    margin: 0 0 20px 0;
    color: #057244;
}
#contact-form {
    background-color:#000000;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 30px 20px;
    border: 2px solid #07F18F;
   /* box-shadow: 1rem 0.5rem 2rem 1rem  #07F18F;*/
    width: 400px;
    height: 550px;
   /* float: left;*/

    /*position: absolute;*/
    margin-top:10rem;
    margin-left: 29rem;
    border-radius:7px;

}
#contact-form input,
#contact-form select,
#contact-form textarea,
#contact-form label {
    font-size: 15px;
    margin-bottom: 2px;


}
#contact-form input,
#contact-form select,
#contact-form textarea {
    width:100%;
    background: #E5E6E7;

    border: 0;
   /* -moz-border-radius: 4px;
    -webkit-border-radius: 4px;*/
    border-radius: 4px;
    margin-bottom: 25px;
    padding: 5px;
}
#contact-form input:focus,
#contact-form select:focus,
#contact-form textarea:focus {
    background-color: #E5E6E7;
}
#name{
    margin-top: -1rem;
}
#email{
    margin-top: -1rem;

}
#contact-no {
    margin-top: -1rem;

}
.required{
    margin-bottom: -2rem;
}
#message{
   height: 80px;
   margin-top: -1rem;
}
#contact-form textarea {
    width:100%;
    height: 150px;
}
#contact-form button[type="submit"] {
    cursor:pointer;
    width:100%;
    border:none;
    background:#057244;

  /*  background-image:-moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
    background-image:-webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);*/
    color:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius:5px;
}
#contact-form button[type="submit"]:hover {
    background:#737373;
  /*  background-image:-moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
    background-image:-webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;*/
    transition:background-color 0.3s ease-in-out;
}
#contact-form button[type="submit"]:active {
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
input:required, textarea:required {
    box-shadow: none;
   /* -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;*/
}
#contact-form .required {
    font-weight:bold;
    color: #E5E6E7;
}

/* Hide success/failure message
   (especially since the php is missing) */
#failure, #success {
    color: #6EA070;
    display:none;
}

/* Make form look nice on smaller screens */
@media only screen and (max-width: 580px) {
    #contact-form{
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}





/*==========================FOOTER=================================*/
.footerContainer{
    background: linear-gradient(100deg, #057244 ,#737373  );;
    width: 100%;
    margin-top: 15rem;


}
.footerH3{
    display: inline-flex;
    margin-top: 3rem;
    margin-left: 34rem;
    font-weight: 600 ;
    font-size:2rem;
    right: 40rem;
    color: #07F18F;
}
.footer{
    display: grid;

    /*  flex-direction: row;*/
}
.contactH5 {
    margin-left: 5rem;
    margin-top: -1.3rem;
}
.footerContent1 > .contact{
    /* color: #737373;*/
    color: black;
    margin-top: -2rem;
    margin-left: 3rem;

}
.footerContent2 > .nav-to{
    margin-left: 55rem;
    margin-top: -8rem;
    /*color: #057244;*/
    color: black;

}
.footerContent2 > .nav{
    margin-left: 56rem ;
    margin-top: 1rem;
    color: black;
}
.footerContent2 > .nav > div > ul a{
    color: black;
    font-weight: 600;

}
/* Thick red border */
hr.new4 {
    border: 1px solid #07F18F;
}


.footerContent3 >.links{
    margin-left: 33rem;


}

.footerContent3 > .content3{
    margin-left: 2rem;
    margin-top: 0.5rem;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 700;
    font-style: italic;

}
